<p>
  <b>Album:</b>
  <%=h @album_photo.album %>
</p>

<p>
  <b>Photo:</b>
  <%=h @album_photo.photo %>
</p>


<%= link_to 'Edit', edit_album_photo_path(@album_photo) %> |
<%= link_to 'Back', album_photos_path %>